html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.rotacionar {
  transition: transform 0.7s ease-in-out;
}
.rotacionar:hover {
  transform: rotate(360deg);
}
